*.DS_Store
.vscode/
feature/
input/
external/
data/
pickle/
notebook/.ipynb_checkpoints
notebook/__pycache__/
script_lgb/__pycache__/
script_lgb/.mypy_cache/
script_lgb/utils/__pycache__/
script_graph/__pycache__/
script_graph/.mypy_cache/
script_graph/script/__pycache__/
script_gnn/__pycache__/
script_other/__pycache__/
script_lgb/importance/
submit/
predict/
script_hinokki/.ipynb_checkpoints/
log/
script_hinokki/
gnn_docker.sh
rdkit_docker.sh
Dockerfile
